<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Template familia</title>
    </head>
    <body>
        <p>INFORMACIÓN FAMILIAR</p>
            <p>
                Datos del padre:
                <ul>
                    <li>Nombre: {{padre.nombre}}</li>
                    <li>Edad: {{padre.edad}}</li>
                    <li>Fecha de nacimiento: {{padre.fecha_nacimiento}}</li>
                </ul>
            </p>
            <p>
                Datos de la madre:
                <ul>
                    <li>Nombre: {{madre.nombre}}</li>
                    <li>Edad: {{madre.edad}}</li>
                    <li>Fecha de nacimiento: {{madre.fecha_nacimiento}}</li>
                </ul>
            </p>
            <p>
                Datos de hermano/a:
                <ul>
                    <li>Nombre: {{hermana.nombre}}</li>
                    <li>Edad: {{hermana.edad}}</li>
                    <li>Fecha de nacimiento: {{hermana.fecha_nacimiento}}</li>
                </ul>
            </p>
        </body>
    </html>
        